    .tdl-search-input::placeholder {
        color: rgb(177, 159, 242);
    }

    .tdl-search-input-dark::placeholder {
        color: rgb(174, 167, 167);
    }

    .w-sb {
        width: 32.1875rem;
    }

    .tdl-status-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
    }

    .tdl-dark-border {
        border: 2px solid white;
        border-radius: 10px;
        overflow: hidden;
    }